node_modules
**/node_modules
**/dist
**/.next
**/.turbo
**/.cache
**/coverage
**/.vscode
**/.idea
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
Dockerfile
.dockerignore
docs
packages/desktop
packages/mobile
release
out
